{% extends "base.html" %}
{% block title %}{{title}}{% endblock title %}

{% block content %}
{% set_global current_id = "3" %}

<h1>{{title}}</h1>
{% if employees %}



<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">First Name</th>
                                <th class="text-center" scope="col">Last Name</th>
                                <th class="text-center" scope="col">Age</th>
                                <th class="text-center" scope="col">Diploma</th>
                                <th class="text-center" scope="col">Handle</th>
                                <th class="text-center" scope="col">Email</th>
                                <th class="text-center" scope="col">Onboarded</th>
                                <th class="text-center" scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                            <tr>
                                <td class="text-center">{{employee.first_name}}</td>
                                <td class="text-center">{{employee.last_name}}</td>
                                <td class="text-center">{{employee.age}}</td>
                                <td class="text-center">{{employee.diploma}}</td>
                                <td class="text-center">{{employee.handle}}</td>
                                <td class="text-center">{{employee.email}}</td>
                                <td class="text-center">{{employee.onboarded}}</td>
                                <td class="text-center">
                                    <button onclick="window.location.href='/select/employee/{{ employee.id }}'"
                                        class="btn btn-primary">
                                        View
                                    </button>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>


{% endif %}

{% endblock content %}

id="MainNavHelp"