{% extends "base.html" %}
{% block title %}{% endblock title %}

{% block content %}


{% if employees %}



<body>
    <div class="container d-flex min-vh-100 justify-content-center align-items-center">

        <div class="row justify-content-center shadow-lg p-3 mb-5 bg-body rounded">
            <h1>{{title}}</h1>
            <div class="col-md-12">

                <div class="table-responsive tableFixHead">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">First Name</th>
                                <th class="text-center" scope="col">Last Name</th>
                                <!-- <th class="text-center" scope="col">Age</th>
                                <th class="text-center" scope="col">Diploma</th>
                                <th class="text-center" scope="col">Handle</th>
                                <th class="text-center" scope="col">Email</th> -->
                                <th class="text-center" scope="col">Onboarded</th>
                                <th class="text-center" scope="col">Personal Details</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                            <tr>
                                <td class="text-center">{{employee.first_name}}</td>
                                <td class="text-center">{{employee.last_name}}</td>
                                <!-- <td class="text-center">{{employee.age}}</td>
                                <td class="text-center">{{employee.diploma}}</td>
                                <td class="text-center">{{employee.handle}}</td>
                                <td class="text-center">{{employee.email}}</td> -->
                                {% if employee.onboarded %}
                                <td class="text-center" style="background-color: lightgreen;">{{employee.onboarded}}
                                    {% else %}
                                <td class="text-center" style="background-color: lightcoral;">{{employee.onboarded}}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <a href="/select/employee/{{ employee.id }}" class="btn btn-primary">
                                        <i class="bi bi-search"></i></a>
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="text-center">
                    Onboarded : {{ employees| filter(attribute="onboarded", value=true) | length }}
                    <div class="vr"></div>
                    Offboarded: {{ employees| filter(attribute="onboarded", value=false) | length }}
                </div>
                <br>
                <div class="button-container">
                    <a href="/" class="btn btn-secondary">Exit</a>
                </div>
            </div>


        </div>

    </div>


</body>


{% endif %}

{% endblock content %}