{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}

<body>
    <div class="container d-flex min-vh-100 justify-content-center align-items-center">
        <div class="row justify-content-center shadow-lg p-3 mb-5 bg-body rounded">
            <h1>{{title}}</h1>
            <div class="col-md-12">

                <div class="table-responsive">

                    {% if employee %}
                    <form>
                        <input id=" id" name="id" type="hidden" value="{{employee.id}}">


                        <div class="form-floating">

                            <input disabled class="form-control-plaintext" id="first_name" name="first_name" type="text"
                                placeholder="" value="{{employee.first_name}}">
                            <label for="first_name">First Name</label>
                        </div>




                        <div class="form-floating">

                            <input disabled class="form-control-plaintext" name="last_name" id="last_name" type="text"
                                placeholder="" value="{{employee.last_name}}">
                            <label for="last_name">Last Name</label>
                        </div>


                        <div class="form-floating">

                            <input disabled class="form-control-plaintext" name="email" id="email" type="email"
                                placeholder="" value="{{employee.email}}">
                            <label for="email">Email</label>
                        </div>


                        <div class="form-floating">

                            <input disabled class="form-control-plaintext" name="age" id="age" type="number"
                                placeholder="" value="{{employee.age}}">
                            <label for="age">Age</label>
                        </div>



                        <div class="form-floating">

                            <input disabled class="form-control-plaintext" name="diploma" id="diploma" type="text"
                                placeholder="" value="{{employee.diploma}}">
                            <label for="diploma">Diploma</label>
                        </div>



                        <div class="form-floating">

                            <input disabled class="form-control-plaintext" name="onboarded" id="onboarded" type="text"
                                placeholder="" value="{{employee.onboarded}}">
                            <label for="onboarded">Onboarded</label>
                        </div>



                        <div class="form-floating">

                            <input disabled class="form-control-plaintext" name="handle" id="handle" type="text"
                                placeholder="" value="{{employee.handle}}">
                            <label for="handle">handle</label>
                        </div>



                        <div class="form-floating">
                            <input disabled type="password" class="form-control-plaintext" name="password" id="password"
                                placeholder="Password" value="{{employee.password}}">
                            <label for="password">Password</label>
                        </div>







                    </form>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Employee</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this employee?
                                    <br>
                                    {{ employee.first_name }} {{ employee.last_name }}
                                </div>
                                <div class="modal-footer">
                                    <a href="/list/employees" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancel</a>
                                    <a href="/delete/employee/{{ employee.id }}" class="btn btn-primary">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="button-container">
                    <a href="/list/employees" class="btn btn-secondary">Cancel</a>
                    <a href="/edit/employee/{{ employee.id }}" class="btn btn-warning">Edit</a>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</a>
                </div>



                {% endif %}


            </div>
        </div>
    </div>



</body>

{% endblock content %}