.table-responsive {
    max-height: 600px;
}


.tableFixHead {
    overflow: auto;
    height: 500px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}


.text-center {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.button-container a {
    width: 200px;
    /* Set your desired fixed width for buttons */
}

.custom-width-button {
    width: 200px;
    /* Set your desired fixed width for the button */
}

.red-background {
    background-color: lightcoral;
}

.green-background {
    background-color: lightgreen;
}


.card-width {
    width: 400px;
    /* Set your desired width */
}