{% extends "base.html" %}

{% block content %}


<body>

    <div class="container d-flex flex-column min-vh-100 justify-content-evenly">


        <div class="container d-flex flex-row justify-content-center">
            <h2>Welcome Onboard with Avaya Red Carpet</h2>
        </div>

        <div class="container d-flex flex-row justify-content-evenly">

            <div class="card card-width justify-content-center align-items-center shadow-lg p-3 mb-5 bg-body rounded">

                <i class="bi bi-person-lines-fill" style="font-size: 8rem;"></i>
                <div class="card-body text-center">
                    <h4 class="card-title">New Employee</h4>
                    <p class="card-text">Submit new employee personal details</p>
                    <div class="button-container">

                        <a href="/new/employee" class="btn btn-primary">
                            Submit <div class="vr"></div>
                            <span class="badge rounded-pill bg-danger">
                                <i class="bi bi-unlock-fill"></i>
                            </span>
                        </a>
                    </div>
                    <br>
                    <div class="button-container">
                        <a href="/login" class="btn btn-primary">
                            Login <div class="vr"></div>
                            <span class="badge rounded-pill bg-danger">
                                <i class="bi bi-lock-fill"></i>
                            </span></a>
                    </div>
                </div>
            </div>


            <div class="vr"></div>


            <div class="card card-width justify-content-center align-items-center shadow-lg p-3 mb-5 bg-body rounded">
                <i class="bi bi-person-workspace" style="font-size: 8rem;"></i>
                <div class="card-body text-center">
                    <h4 class="card-title">IT Technician</h4>
                    <p class="card-text">Manage new employees </p>
                    <div class="button-container">
                        <a href="/login" class="btn btn-primary">
                            Manage <div class="vr"></div>
                            <span class="badge rounded-pill bg-danger">
                                <i class="bi bi-lock-fill"></i>
                            </span></a>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>


{% endblock %}