{% extends "base.html" %}

{% block content %}


<body>
    <div class="container d-flex min-vh-100 justify-content-center align-items-center">
        <div class="row justify-content-center  shadow-lg p-3 mb-5 bg-body rounded">
            <h1>{{title}}</h1>
            <div class="col-md-12">
                <div class="table-responsive">

                    <form needs-validation class="was-validated" id="save_form" method="POST"
                        enctype="application/x-www-form-urlencoded" action="/save/employee">

                        <div class="form-floating">
                            <input required class="form-control" id="first_name" name="first_name" type="text"
                                placeholder="" value="">
                            <label for="first_name">First Name</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter your first name.
                            </div>
                        </div>
                        <br>

                        <div class="form-floating">
                            <input required class="form-control" name="last_name" id="last_name" type="text"
                                placeholder="" value="">
                            <label for="last_name">Last Name</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter your last name.
                            </div>
                        </div>
                        <br>

                        <div class="form-floating">

                            <input required class="form-control" name="personal_email" id="personal_email" type="email"
                                placeholder="" value="">
                            <label for="personal_email">Personal Email</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a valid personal email.
                            </div>
                        </div>
                        <br>

                        <div class="form-floating">

                            <input required class="form-control" name="age" id="age" type="number" min="18"
                                placeholder="" value="">
                            <label for="age">Age</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter your age. Must be 18 or older.
                            </div>
                        </div>
                        <br>

                        <div class="form-floating">

                            <input required class="form-control" name="diploma" id="diploma" type="text" placeholder=""
                                value="">
                            <label for="diploma">Diploma</label>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please enter a diploma.
                            </div>
                        </div>
                        <br>

                        <!-- Modal -->
                        <div class="modal fade" id="save_staticBackdrop" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Creating New Personal Data
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to save this personal data?
                                        <br>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" form="save_form" class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <br>

                <div class="button-container">
                    <a href="/" class="btn btn-secondary">Cancel</a>
                    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#save_staticBackdrop">Save</a>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock %}